@page
@model QuarantineMenu.Pages.Shared.WeekCountModel
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Menus[0].MealDate)
            </th>
            <th>
                Count
                @Html.DisplayNameFor(model => model.Menus[0].MealKindID)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Menus)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MealDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MealKind.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MealKindID)
            </td>

        </tr>
        }
    </tbody>
</table>
