@page
@model QuarantineMenu.Pages.Pantrys.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<div class="float-right">
    @await Component.InvokeAsync("WeekCount")
</div>
<div class="float-left">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Pantry[0].Count)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Pantry[0].Food.Name)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Pantry)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Count)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Food.Name)
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.PantryID">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.PantryID">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.PantryID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>