@page
@model QuarantineMenu.Pages.Foods.IndexModel

@{
    ViewData["Title"] = "Foods";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<div class="float-right">
    @await Component.InvokeAsync("WeekCount")
</div>
<div class="float-left">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Food[0].Name)
                </th>
                <th>
                    Food Kind
                    @*@Html.DisplayNameFor(model => model.Food[0].FoodKindID)*@
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Food)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @*@Html.DropDownListFor(modelItem => item.FoodKindID, (IEnumerable<SelectListItem>)ViewBag.FoodKinds, "", new { @disabled = "disabled" })*@
                        @Html.DisplayFor(modelItem => item.FoodKind.Name)
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.FoodID">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.FoodID">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.FoodID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>