@page
@model QuarantineMenu.Pages.Menus.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<div>
        @await Component.InvokeAsync("MenuCalendar")
</div>
<p>
    <a asp-page="Create">Create New</a>
</p>
<div class="float-left">
    <table class="table">
        <thead>
            <tr>
                <th>
                    Date
                    @*@Html.DisplayNameFor(model => model.Menu[0].MealDate)*@
                </th>
                <th>
                    Meal
                    @*@Html.DisplayNameFor(model => model.Menu[0].MealKindID)*@
                </th>
                <th>
                    Food
                    @*@Html.DisplayNameFor(model => model.Menu[0].FoodID)*@
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Menu)
            {
                @if (item.MealDate != null)
                {
                    <tr>
                        <td>
                            @*@Html.DisplayFor(modelItem => item.Date)*@
                            @if (item.MealDate != null)
                            {
                                @string.Format("{0:ddd MM/dd}", item.MealDate);
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MealKind.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Food.Name)
                        </td>
                        <td>
                            <a asp-page="./Edit" asp-route-id="@item.MenuID">Edit</a> |
                            <a asp-page="./Details" asp-route-id="@item.MenuID">Details</a> |
                            <a asp-page="./Delete" asp-route-id="@item.MenuID">Delete</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>

</div>
<div class="float-right">
    @await Component.InvokeAsync("WeekCount")
</div>
<br />
<br />
<br />
